:root {
	/** Primary **/
	--color-primary: #FFF180;
	--color-primary-accent: #234355;

	/** Secondary **/
	--color-secondary: #234355;
	--color-secondary-accent: #ffffff;

	/** Grayscale **/
	--color-gray-0: #ffffff;
	--color-gray-1: #f2f2f2;
	--color-gray-2: #e6e6e6;
	--color-gray-3: #cccccc;
	--color-gray-4: #b3b3b3;
	--color-gray-5: #999999;
	--color-gray-6: #808080;
	--color-gray-7: #666666;
	--color-gray-8: #4d4d4d;
	--color-gray-9: #333333;
	--color-gray-10: #191919;

	/** Semantic **/
	--color-danger: #CB666A;
	--color-danger-accent: #ffffff;

	--color-success: #6CC785;
	--color-success-accent: #234355;
}
