@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,500;0,6..12,800;0,6..12,1000;1,6..12,200;1,6..12,300;1,6..12,500;1,6..12,800;1,6..12,1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,500;0,6..12,800;0,6..12,1000;1,6..12,200;1,6..12,300;1,6..12,500;1,6..12,800;1,6..12,1000&display=swap');

:root {
	--font-family: "Nunito Sans", sans-serif;
	--font-family-monospace: "Anonymous Pro", monospace;

	--font-weight-black: 900;
	--font-weight-heavy: 600;
	--font-weight-medium: 400;
	--font-weight-book: 300;
	--font-weight-light: 200;

	--font-size-title: 24px;
	--font-size-big: 18px;
	--font-size-body: 16px;
	--font-size-small: 14px;
	--font-size-legal: 12px;

	* {
		line-height: 1em;
	}

	font-family: var(--font-family);
	font-size: var(--font-size-body);
}
