@font-face {
	font-family: 'Avenir';
	src: url('/fonts/avenir_light.woff2') format('woff2'),
	url('/fonts/avenir_light.woff') format('woff');
	font-weight: 200;
}

@font-face {
	font-family: 'Avenir';
	src: url('/fonts/avenir_book.woff2') format('woff2'),
	url('/fonts/avenir_book.woff') format('woff');
	font-weight: 300;
}

@font-face {
	font-family: 'Avenir';
	src: url('/fonts/avenir_regular.woff2') format('woff2'),
	url('/fonts/avenir_regular.woff') format('woff');
	font-weight: normal;
}

@font-face {
	font-family: 'Avenir';
	src: url('/fonts/avenir_heavy.woff2') format('woff2'),
	url('/fonts/avenir_heavy.woff') format('woff');
	font-weight: bold;
}

@font-face {
	font-family: 'Avenir';
	src: url('/fonts/avenir_black.woff2') format('woff2'),
	url('/fonts/avenir_black.woff') format('woff');
	font-weight: 900;
}

:root {
	--font-family: Avenir, serif;

	--font-black: 900;
	--font-heavy: 600;
	--font-medium: 400;
	--font-book: 300;
	--font-light: 200;

	--font-size-title: 24px;
	--font-size-big: 18px;
	--font-size-body: 16px;
	--font-size-small: 14px;
	--font-size-legal: 10px;

	*:not(pre *) {
		font-family: var(--font-family);
		font-size: var(--font-size-body);
		line-height: 1em;
	}
}
